<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>會員專區</title>
</head>
<body>
<h1>會員專區</h1>
<div>
    <h2>會員資料</h2>
    <p>會員名稱: <span th:text="${user.username}"></span></p>
    <p>會員電話: <span th:text="${user.phoneNumber}"></span></p>
</div>
<div>
    <h2>功能選單</h2>
    <ul>
        <li><a href="/member/edit">修改會員資料</a></li>
        <li><a href="/member/order-history">訂單查詢</a></li>
    </ul>
</div>
<a href="/welcome">返回點餐頁面</a>

</body>
</html>