<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body{
        text-align:center;
        justify-content:center;
        align-items:center;
        margin-top:250px;
        font-weight:700;
        font-size:50px;
        background:#1E1E1E;
        color:#ffffff;
        }
    </style>
    <title>註冊成功</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function() {
            var countdown = /*[[${countdown}]]*/ 3.00;
            var timer = setInterval(function() {
                countdown -= 0.01;
                $('#countdown').text(countdown.toFixed(2));
                if (countdown <= 0) {
                    clearInterval(timer);
                    window.location.href = '/login';
                }
            }, 10);
        });
    </script>
</head>
<body>
<h1>註冊成功</h1>
<p>註冊成功！<span id="countdown">3.00</span> 秒後將跳轉到登錄頁面。</p>
</body>
</html>